.demo_text {
  background-color: #eeeeee;
  font-weight:bold;
}






.FranklyModulesDemo {
  padding: 20px;
  margin: 20px 0;
  xwidth: 100%;
  background-color: #eeeeee;
}

.FranklyModulesDemo p {
  font-size: 16px;
}
