.demo_text {
  background-color: green;
  font-weight:bold;
  text-transform: uppercase;
}






.FranklyModulesDemo {
  padding: 20px;
  margin: 20px 0;
  background-color: #eeeeee;
}

.FranklyModulesDemo p {
  font-size: 16px;
}
